footer{
    margin: 40px 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    div{
        display: flex;
        justify-content: center;
        .logo-footer {
            width: 100px;
           
        }
        .derechos {
            font-size: 10px;
            text-align: center;
            margin: 10px;
        }
    }
    .redes{
        margin-left: -150px;
        align-self: center;
        justify-self: center;

        .fab {
            color: #000;
            margin: 0px 5px;
        }
    }
    .desarrollo {
        font-size: 10px;
        text-align: left;
        
        img{
            height: 14px;
            vertical-align: middle;
        }

    }
}