footer{
    margin: 40px 17%;
    display: flex;
   
    .logo-footer {
        width: 100px;
        align-items:flex-start;
        margin: 10px 0;
    }
    .derechos {
        font-size: 12px;
        text-align: center;
        justify-content: flex-start;
        margin: 10px;
       
    }
    .redes{
        width: 200px;
        margin: 10px;
        margin-left: 70px;
        

        .fab {
            color: #000;
            margin: 0px 5px;
        }
    }
    .desarrollo {
        font-size: 12px;
        text-align: left;
        width: 200px;
        margin-left: 200px;//seguro hay otra manera mas sencilla de acomodar estos elemetos, estoy seguro que no es lo mas correcto
        
        img{
            height: 14px;
            vertical-align: middle;
        }

    }
}