main {
    margin: 50px 17%;
    .hero {
        background: transparent url(../img/Optimized-hero.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        vertical-align: top;
        height: 26em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        
                    
        .titulo {
            background: rgba(0, 0, 0, 0.66) padding-box;
            overflow: hidden;
            // position: relative;
            max-width: 90%;
            h1 {
                font-size: 50px;
                font-weight: 300;
                // line-height: 60px;
                letter-spacing: -1,8px;
                text-align: center;
                color: #fff;
                margin: 20px;
            }
        }
    }
    .container {
        display: flex;
        margin-top: 6em;
        // border: 1px solid black;
        .presentacion, b {
            width: 30%;
            font-size: 20px;
            line-height: 26px;
            justify-content: start;
            // border: 1px solid black;
        }
        .descripcion {
            width: 70%;
            margin-left: 70px;
            font-size: 14px;
            line-height: 22px;
            justify-content:start;
            // border: 1px solid black;
        }
    }
    .galeria {
        margin: 30px auto;
        .galeria-1 {
            display: inline-block;
            width: 48%;
            .small {
                width: 48%;
            }
            .big {
                width: 100%;
            }
                img {
                    max-width: 100%;
                    height: auto;
                }
                img:hover {
                    transform: scaleX(-1);
                }
            }
        .galeria-2 {
            display: inline-block;
            width: 48%;
            .big {
                width: 100%;
            }
            .small {
                width: 48%;
            }
            img {
                max-width: 100%;
                height: auto;
            }
            img:hover {
                transform: scaleX(-1);
            }
        }
    }
    .clt {

        .clientes  {
            text-align: center;
            margin-top: 50px;
            padding: 5px;
            font-weight: 100;
            font-size: 24px;
            line-height: 28px;
        strong {
            font-size: 24px;
            line-height: 28px;
            margin-top: 50px;
            font-weight: 700;
        }
    }
        .opiniones {
            display: flex;
            justify-content: space-around;

                .card {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                width: 50%;
                background-color: #000;
                border-radius: 8px;
                margin: 8px 2px;
                
                .fas {
                    color: #222;
                    padding: 15px;
                    font-size: 30px;
                }
                // los textos al cambiar de resolucion me modifican el tamaño de la tarjeta
                .opinion {
                    color: #ffffff;
                    font-size: 12px;
                    text-align: left;
                    margin: 10px 35px;
                }
                .img-cliente {
                    display: flex;
                    
                    
                    img {
                        width: 50px;
                        margin: 10px 35px;
                        border-radius: 50%;
                    }
                    .centro {
                        justify-content: center;
                        margin: 10px -25px;
                        align-items: center;
                        
                        .nombre {
                            font-size: 14px;
                            color: #fff;
                            text-align: center;
                            
                        }
                        .ciudad {
                            color: #fff;
                            font-size: 9px;
                            text-align: center;
                            
                        }
                    }
                }
                
            }
        } 
    }
}